node_modules/
.env
mis_docs/

# Claves de Firebase
serviceAccountKey.json
serviceAccountKey-*.json
*serviceAccount*.json
*firebase-admin*.json
*adminsdk*.json

# Archivos sensibles
*.pem
*.p12
*.key

# Claves dentro de cualquier carpeta
**/serviceAccountKey-*.json
**/*.pem
**/*.p12
**/*.key

